.userPhoto {
    width: 100px;
    height: 100px;
}

.userItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.userItem {
    padding: 10px;
}

.followTogglerFollow {
    background-color: #7c7872;
    color: aliceblue;
}

.followTogglerUnfollow {
    background-color: #c6c298;
    color: black;
}